## Amazon Web scraping Using Selenium.

Required Library

In [2]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver import ActionChains
from selenium.webdriver.common.by import By
import time

In [3]:
# path for the webdriver 
path = r'C:\Users\nijat\Desktop\Data Science\Preparation For Interview\Technicl Skil\web Scraping\Chromedriver'
driver = webdriver.Chrome(executable_path = path)

In [4]:
url = 'https://www.amazon.in/ref=nav_logo'
driver.get(url)

In [5]:
# Let's make the window full screen
driver.maximize_window()

We will serach for tha item and get the data related to that item.

In [6]:
url = 'https://www.amazon.in/ref=nav_logo'
driver.get(url)

search_bar = driver.find_element(By.XPATH,"//input[contains(@id,'twotabsearchtextbox')]")
search_bar.send_keys("Samsung phones")
search_bar.send_keys(Keys.RETURN)
driver.find_element(By.XPATH,"//span[text()='Samsung']").click()
phones_names = driver.find_elements(By.XPATH,"//span[contains(@class,'a-size-medium a-color-base a-text-normal')]")
phones_price = driver.find_elements(By.XPATH,"//span[contains(@class,'a-price-whole')]")
phones_rates = driver.find_elements(By.XPATH,"//span[contains(@class, 'a-icon-alt')]")  # take only 27

Let's store this a a panda DataFrame.

SyntaxError: unexpected EOF while parsing (<ipython-input-38-e2e1373e0210>, line 1)

In [27]:
phone_price = []
phone_name = []
phone_rate = []

for name in phones_names:
    phone_name.append(name.text)

for price in phones_price:
    phone_price.append(price.text)

i = 0 # once it reached to 27 we will stop it because we don't want the extra rates fo other phones we have 31 elements so we will take first 27
for rate in phones_rates:
    i=i+1
    if i > 27:
        break
    phone_rate.append(rate.text)

In [34]:
phone_rate

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [28]:
import pandas as pd

In [32]:
phone_df = pd.DataFrame(list(zip(phone_name,phone_price,phone_rate)), columns =['Name', 'price','rating'])

In [33]:
phone_df

                                                 Name   price rating
0   Samsung Galaxy M32 (Black, 6GB RAM, 128GB Stor...  16,999
1   Samsung Galaxy A22 (Black, 6GB RAM, 128GB Stor...  18,499
2   Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB...  14,999
3   Samsung Galaxy M11 (Black, 4GB RAM, 64GB Stora...   9,999
4   Samsung Galaxy M31 (Space Black, 6GB RAM, 128G...  14,999
5   Samsung Galaxy M12 (Black,6GB RAM, 128GB Stora...  13,499
6   Samsung Galaxy M31s (Mirage Blue, 8GB RAM, 128...  16,999
7   Samsung Galaxy M42 5G (Prism Dot Black, 8GB RA...  23,999
8   Samsung Galaxy M31 (Ocean Blue, 8GB RAM, 128GB...  21,990
9      Samsung Galaxy M02 (Red,2GB RAM, 32GB Storage)   7,999
10  Samsung Galaxy M02s (Black,4GB RAM, 64GB Stora...  10,499
11  Samsung Galaxy M51 (Electric Blue, 8GB RAM, 12...  21,999
12  Samsung Galaxy M51 (Celestial Black, 8GB RAM, ...  21,999
13  Samsung Galaxy M02s (Blue,4GB RAM, 64GB Storag...  10,499
14  Samsung Galaxy A22 5G (Gray, 8GB RAM, 128GB St...  21,999
15  Samsung Galaxy M32 (Black, 4GB RAM, 64GB Stora...  14,999
16  Samsung Galaxy M32 (Black, 6GB RAM, 128GB Stor...  16,999
17  Samsung Galaxy M21 2021 Edition (Arctic Blue, ...  12,499
18  Samsung Galaxy M12 (White,6GB RAM, 128GB Stora...  13,499
19  Samsung Galaxy M32 (Light Blue, 6GB RAM, 128GB...  16,999
20  Samsung Galaxy M42 5G (Prism Dot Black, 6GB RA...  21,999
21    Samsung Galaxy M02 (Blue,2GB RAM, 32GB Storage)   7,999
22  Samsung Galaxy M31 (Iceberg Blue, 6GB RAM, 128...  14,999
23          (Renewed) Samsung F41 Fusion Blue 6+128GB  13,998
24  Samsung Galaxy M02s (Red,4GB RAM, 64GB Storage...  10,499
25  Samsung Galaxy A22 (Mint, 6GB RAM, 128GB Stora...  18,499
26   Samsung Galaxy M02 (Black,2GB RAM, 32GB Storage)   7,999

In [14]:
x = driver.find_elements(By.XPATH,'//*[@id="search"]/div[1]/div[1]/div/span[3]/div[2]/div[3]/div/span/div/div/div/div/div[2]/div[2]/div/div/div[2]/div/span[1]/span/a/i[1]/span')

In [18]:
type(x)

list

In [20]:
x = driver.find_elements_by_css_selector('.a-icon.a-star-small-3')

[<selenium.webdriver.remote.webelement.WebElement (session="16cf0c0dab4caaf86f0840185e22d363", element="954cadb2-e515-4666-be3f-5bfd61abd0aa")>]