# finance.yahoo.com data scraper

In this notebook we  will scrap tesla stock price data from <a href='https://finance.yahoo.com/'>finance.yahoo.com</a>. everything will be programed for example searching the tesla data and selecting `Time Period` for example `:Oct 29, 2010 - Aug 28, 2021`, `Show`: for example `Historical Prices` and `Frequency` for example Daily, weekly and Monthly. and scrolling down to load all the data. and finally we will get the data and create a `.csv` file.

Let's import the required library.

In [116]:
from selenium import webdriver
import time
import pandas as pd
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.select import Select

path of the driver.

In [127]:
path = r'C:\Users\nijat\Desktop\Data Science\Preparation For Interview\Technicl Skil\web Scraping\Chromedriver'
driver = webdriver.Chrome(path)

url for the finanace.yahoo.come

In [128]:
url = 'https://finance.yahoo.com/'

In [129]:
driver.get(url)

Let's send data to the search key. to do this we need to find the search bar first.

In [130]:
search_bar = driver.find_element_by_id("yfin-usr-qry")
search_bar.send_keys("Tesla")

Now we need to click the search button.

In [131]:
search_button = driver.find_element_by_id("header-desktop-search-button")
search_button.click()

Now let's click on the Summary `Historical Data` tab.

In [132]:
historical_data = driver.find_element_by_xpath('//*[@id="quote-nav"]/ul/li[5]/a/span')
historical_data.click()

Let's select the the time period.

In [134]:
time_priod = driver.find_element_by_xpath("//span[contains(@class,'C($linkColor) Fz(14px)')]")
time_priod.click()

Now let's select the start and end date.

In [135]:
time.sleep(5)
time_priod = driver.find_element_by_xpath("//span[contains(@class,'C($linkColor) Fz(14px)')]")
time_priod.click()
start_date = driver.find_element_by_xpath('/html/body/div[1]/div/div/div[1]/div/div[3]/div[1]/div/div[2]/section/div[1]/div[1]/div[1]/div/div/div/div/div/div[1]/input')
start_date.click()

Hence we don't have any code for this to select using selenium I have tried but couldn't figure it out. let select this manualy.
we will seelect all this opetion manually.

after selecting manually we got this url

https://finance.yahoo.com/quote/TSLA/history?period1=1280275200&period2=1630108800&interval=1d&filter=history&frequency=1d&includeAdjustedClose=true

In [163]:
url = 'https://finance.yahoo.com/quote/TSLA/history?period1=1280275200&period2=1630108800&interval=1d&filter=history&frequency=1d&includeAdjustedClose=true'

driver.get(url)

if we get data directly from this we won't be able to get all the data but let's first load all the data and then we will get the data. to do this we need to scroll down till the end of the page to lead all the data and then we will get the data. so now let's scroll down.

In [165]:
j=0
for i in range(30):
    i=i*20000
    text = "window.scrollTo({start}, {end})".format(start = j, end = i)
    driver.execute_script(text)
    #just give some time to load the 
    time.sleep(1)
    j = i
    i=0

Just addjust the range as per your requirement.

Now let's get the table data.

In [166]:
table_data = driver.find_element_by_xpath("//table[contains(@class,'W(100%) M(0)')]")

Let's get the table columns name and stor in a list.

In [167]:
columns_names = []

In [168]:
table_header = table_data.find_element_by_xpath('//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/thead')

columns = table_header.find_element_by_xpath('//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/thead/tr')

for column in columns.find_elements_by_tag_name('span'):
    columns_names.append(column.text)

In [169]:
columns_names

['Date', 'Open', 'High', 'Low', 'Close*', 'Adj Close**', 'Volume']

Now let's go throw the row by row and get the data from it.

In [170]:
table_body = table_data.find_element_by_tag_name('tbody')

In [171]:
table_rows = table_body.find_elements_by_tag_name('tr')

In [172]:
date = []
Open = []
high = []
low = []
close = []
adj_close = []
volume = []

In [173]:
for rows in table_rows:
    i=0
    for element in rows.find_elements_by_tag_name('span'):
        if i==0:
            try:
                date.append(element.text)
                i=1
            except NoSuchElementException:
                data.append(None)
                i=1
        elif i==1:
            try:
                Open.append(element.text)
                i=2
            except NoSuchElementException:
                Open.append(None)
                i=2
        elif i==2:
            try:
                high.append(element.text)
                i=3
            except NoSuchElementException:
                high.append(None)
                i=3
        elif i==3:
            try:
                low.append(element.text)
                i=4
            except NoSuchElementException:
                low.append(None)
                i=4
        elif i==4:
            try:
                close.append(element.text)
                i=5
            except NoSuchElementException:
                close.append(None)
                i=5
        elif i==5:
            try:
                adj_close.append(element.text)
                i=6
            except NoSuchElementException:
                adj_close.append(None)
                i=6
        elif i==6:
            try:
                volume.append(element.text)
            except NoSuchElementException:
                volume.append(None)

In [203]:
df = pd.DataFrame(columns=columns_names)

In [204]:
df

Empty DataFrame
Columns: [Date, Open, High, Low, Close*, Adj Close**, Volume]
Index: []

In [197]:
date = date[:-1]

In [191]:
volume = volume[:-1]

In [200]:
Open = Open[:-1]

In [205]:
df['Date'] = date
df['Open'] = Open
df['High'] = high
df['Low'] = low
df['Close*'] = close
df['Adj Close**'] = adj_close
df['Volume'] = volume

In [206]:
df

              Date    Open    High     Low  Close* Adj Close**      Volume
0     Aug 27, 2021  705.00  715.00  702.10  711.92      711.92  13,762,100
1     Aug 26, 2021  708.31  715.40  697.62  701.16      701.16  13,214,300
2     Aug 25, 2021  707.03  716.97  704.00  711.20      711.20  12,645,600
3     Aug 24, 2021  710.68  715.22  702.64  708.49      708.49  13,083,100
4     Aug 23, 2021  685.44  712.13  680.75  706.30      706.30  20,264,900
...            ...     ...     ...     ...     ...         ...         ...
2787  Aug 04, 2010    4.39    4.39    4.16    4.39        4.39   6,152,500
2788  Aug 03, 2010    4.20    4.19    4.07    4.18        4.18   3,590,500
2789  Aug 02, 2010    4.10    4.09    3.91    3.99        3.99   2,134,500
2790  Jul 30, 2010    4.04    4.18    4.00    4.07        4.07   3,080,000
2791  Jul 29, 2010    4.15    4.18    4.10    4.14        4.14   2,336,000

[2792 rows x 7 columns]

Let's covert this to a `.csv` file.

In [210]:
df.to_csv('yahoo_finance_tesla.csv',index=False)

In [208]:
yahoo_df = pd.read_csv('yahoo_finance_tesla.csv')

In [209]:
yahoo_df

              Date    Open    High     Low  Close*  Adj Close**      Volume
0     Aug 27, 2021  705.00  715.00  702.10  711.92       711.92  13,762,100
1     Aug 26, 2021  708.31  715.40  697.62  701.16       701.16  13,214,300
2     Aug 25, 2021  707.03  716.97  704.00  711.20       711.20  12,645,600
3     Aug 24, 2021  710.68  715.22  702.64  708.49       708.49  13,083,100
4     Aug 23, 2021  685.44  712.13  680.75  706.30       706.30  20,264,900
...            ...     ...     ...     ...     ...          ...         ...
2787  Aug 04, 2010    4.39    4.39    4.16    4.39         4.39   6,152,500
2788  Aug 03, 2010    4.20    4.19    4.07    4.18         4.18   3,590,500
2789  Aug 02, 2010    4.10    4.09    3.91    3.99         3.99   2,134,500
2790  Jul 30, 2010    4.04    4.18    4.00    4.07         4.07   3,080,000
2791  Jul 29, 2010    4.15    4.18    4.10    4.14         4.14   2,336,000

[2792 rows x 7 columns]