# Python Basic

## Standard data types

Python provides various standard data types that define the storage method on each of them. The data types defined in Python are given below.

1. Numbers
2. Sequence Type
3. Boolean
4. Set
5. Dictionary

<img src='https://static.javatpoint.com/python/images/python-data-types.png'>

https://www.javatpoint.com/python-data-types

In [3]:
x = 1+3j

In [5]:
type(x)

complex

In [6]:
isinstance(x,complex)

True

or similaryle we can do.

In [7]:
type(x)

complex

Python supports three types of numeric data.

1. Int - Integer value can be any length such as integers 10, 2, 29, -20, -150 etc. Python has no restriction on the length of an integer. Its value belongs to int
2. Float - Float is used to store floating-point numbers like 1.9, 9.902, 15.2, etc. It is accurate upto 15 decimal points.
3. complex - A complex number contains an ordered pair, i.e., x + iy where x and y denote the real and imaginary parts, respectively. The complex numbers like 2.14j, 2.0 + 2.3j, etc.

In [8]:
x = [1,2,3]
type(x)

list

## Tuple

A tuple is similar to the list in many ways. Like lists, tuples also contain the collection of the items of different data types. The items of the tuple are separated with a comma (,) and enclosed in parentheses ().

A tuple is a read-only data structure as we can't modify the size and value of the items of a tuple. Let's see a simple example of the tuple.

In [9]:
tup = (1,2,"Nijatulah")

In [10]:
type(tup)

tuple

In [11]:
tup[0]

1

In [12]:
tup[0] = 1

TypeError: 'tuple' object does not support item assignment

In [13]:
x = [1,2,'Nijat']
x[0] = 100
x

[100, 2, 'Nijat']

But we can not modify a tuple.

## Dictionary

Dictionary is an unordered set of a key-value pair of items. It is like an associative array or a hash table where each key stores a specific value. Key can hold any primitive data type, whereas value is an arbitrary Python object. The items in the dictionary are separated with the comma (,) and enclosed in the curly braces {}.

`Note`: The primitive data type is a fundamental data type that cannot be broken down further into simple data types. For example, an integer is a primitive data type and the array is not a primitive data type as it can store multiple data types

In [14]:
dic = {1:'One',2:'Tow',3:'Three',4:'Four',5:'Five'}

In [15]:
dic

{1: 'One', 2: 'Tow', 3: 'Three', 4: 'Four', 5: 'Five'}

In [17]:
dic.keys()

dict_keys([1, 2, 3, 4, 5])

In [18]:
dic.values()

dict_values(['One', 'Tow', 'Three', 'Four', 'Five'])

In [19]:
dic[1] = "OneOne"

In [20]:
dic

{1: 'OneOne', 2: 'Tow', 3: 'Three', 4: 'Four', 5: 'Five'}

In [23]:
type(True)

bool

In [24]:
print(True)

True

# Set

Python Set is the unordered collection of the data type. It is iterable, mutable(can modify after creation), and has unique elements. In set, the order of the elements is undefined; it may return the changed sequence of the element. The set is created by using a built-in function set(), or a sequence of elements is passed in the curly braces and separated by the comma. It can contain various types of values.

In [25]:
# using a set() function to create a set.
x = [1,2,3,4,5,5,5,5,4,4,6,7,8,9,10]
x

[1, 2, 3, 4, 5, 5, 5, 5, 4, 4, 6, 7, 8, 9, 10]

In [28]:
set_x = set(x)
set_x

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [29]:
set_x

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [30]:
x = {1,2,3,4,5,5,5,5,5,6,7,8,9,10}
x

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [31]:
x = {'Nijatullah Mansoor','Nijatullah Mansoor','Omar'}
x

{'Nijatullah Mansoor', 'Omar'}

# assert

This keyword is used as the debugging tool in Python. It checks the correctness of the code. It raises an AssertionError if found any error in the code and also prints the message with an error.

In [36]:
a = 10  
b = 0  
print('a is dividing by Zero')  
assert b != 0  
print(a / b)

a is dividing by Zero

AssertionError:

In [38]:
a = 5  
if (a>2):  
   raise Exception('a should not exceed 2 ')  
print('Hi')

Exception: a should not exceed 2

# Python Literals

Python Literals can be defined as data that is given in a variable or constant.

Python supports the following literals:

##  literals:

https://www.javatpoint.com/python-literals

In [39]:
1 == True

True

In [40]:
0 !=True

True

# Python Operators
The operator can be defined as a symbol which is responsible for a particular operation between two operands. Operators are the pillars of a program on which the logic is built in a specific programming language. Python provides a variety of operators, which are described as follows.

- Arithmetic operators
- Comparison operators
- Assignment Operators
- Logical Operators
- Bitwise Operators
- Membership Operators
- Identity Operators

https://www.javatpoint.com/python-operators

In [41]:
bin(2)

'0b10'

In [42]:
x = 10
bin(x)

'0b1010'

In [43]:
bin(7)

'0b111'

In [44]:
bin(6)

'0b110'

In [45]:
bin(7) and bin(6)

'0b110'

In [46]:
bin(7) or bin(6)

'0b111'

In [47]:
x = [1,2,4,5,6]
10 not in x

True

In [48]:
1 not in x

False

In [49]:
1 in x

True

In [52]:
10 is int

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-52-e1da5e22a070>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  10 is int

False

In [55]:
def docustring():
    """This is the docustring of the python in the docustring function."""
    print("Hi this is the last time we need to understand.")

In [56]:
docustring.__doc__

'This is the docustring of the python in the docustring function.'

# Python Comments

https://www.javatpoint.com/python-comments

# Python If-else statements

https://www.javatpoint.com/python-if-else

In [59]:
# to find the largest number among three numbers.
a = 10
b = 30
c = 5
if a > b:
    if a > c:
        print(a,'is the greatest  number')
    else:
        print(c,'is the greatest number')
else:
    if b > c:
        print(b,'is greater number')
    else:
        print(c,'is greatest nujmber')

30 is greater number

# Python Loops

https://www.javatpoint.com/python-loops

# Python for loop

https://www.javatpoint.com/python-for-loop

In [63]:
sum_ = 0
x = [1,2,3,4,5,6,7,8,9]
for i in x:
    sum_ = sum_ + i
print(sum_)

45

In [72]:
for i in range(1,10,3):
    print(i)

1
4
7

In [74]:
mul = 5
for i in range(1,11):
    c = i*mul
    print(mul,'*',i,'=',c)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

## Python While loop

https://www.javatpoint.com/python-while-loop

In [75]:
i=1   
while(i<=5):    
    print(i)    
    i=i+1    
else:  
    print("The while loop exhausted")

1
2
3
4
5
The while loop exhausted

In [76]:
i=1   
while(i<=5):    
    print(i)
    if i == 3:
        break
    i=i+1    
else:  
    print("The while loop exhausted")

1
2
3

## Python break statement

https://www.javatpoint.com/python-break

# Python continue Statement

https://www.javatpoint.com/python-continue

# Python Pass

https://www.javatpoint.com/python-pass

In [81]:
def x():
    pass

In [80]:
x()

H

# Python String 
In Python, strings can be created by enclosing the character or the sequence of characters in the quotes. Python allows us to use single quotes, double quotes, or triple quotes to create the string.

In [1]:
string1 = 'This is string 1'
string1

'This is string 1'

In [2]:
string2 = "This is string 2"
string2

'This is string 2'

In [3]:
string3 = """This is string3"""
string3

'This is string3'

In [4]:
type(str)

type

In [5]:
type(string1)

str

In Python, strings are treated as the sequence of characters, which means that Python doesn't support the character data-type; instead, a single character written as 'p' is treated as the string of length 1.

In [6]:
string1[-1]

'1'

In [7]:
string1[:-1]

'This is string '

In [8]:
string1[::-1]

'1 gnirts si sihT'

In [9]:
x = 'This is new  string'
'is new' in x

True

### Python String Formatting

In [12]:
x = 'They said,"Hello what's going on?"'

SyntaxError: invalid syntax (<ipython-input-12-56c287d1bdce>, line 1)

In [11]:
x

"Hello what's going on?"

### Escape Sequence

We can use the triple quotes to accomplish this problem but Python provides the escape sequence.

The backslash(/) symbol denotes the escape sequence. The backslash can be followed by a special character and it interpreted differently. The single quotes inside the string must be escaped. We can apply the same as in the double quotes.

#### \newline

In [1]:
print('python1
       python2
       python3')

SyntaxError: EOL while scanning string literal (<ipython-input-1-d12053b0081e>, line 1)

In [2]:
print('python1 \
       python2 \
       python3')

python1        python2        python3

In [3]:
# backslash 

print('\\')

\

In [4]:
print('\')

SyntaxError: EOL while scanning string literal (<ipython-input-4-eaac87876c3b>, line 1)

In [5]:
print('\'')

'

In [6]:
print('\a')



In [7]:
print('\b')



In [8]:
print('\r')

In [9]:
print('\ooooo')

\ooooo

https://www.javatpoint.com/python-strings

## Python List

In [12]:
# remove duplicate elelment from a list.
list1 = [1,2,2,3,55,98,65,65,13,29]  

list2 = []
for i in list1:
    if i not in list2:
        list2.append(i)

In [13]:
list2

[1, 2, 3, 55, 98, 65, 13, 29]

https://www.javatpoint.com/python-lists

## Python Tuple

Python Tuple is used to store the sequence of immutable Python objects. The tuple is similar to lists since the value of the items stored in the list can be changed, whereas the tuple is immutable, and the value of the items stored in the tuple cannot be changed.

Creating a tuple

In [14]:
tup = ("only one element")
tup

'only one element'

In [15]:
type(tup)

str

In [16]:
print(type(tup))

<class 'str'>

In [17]:
tup1 = ("only one element",)

In [18]:
print(type(tup1))

<class 'tuple'>

### Deleting Tuple
Unlike lists, the tuple items cannot be deleted by using the del keyword as tuples are immutable. To delete an entire tuple, we can use the del keyword with the tuple name.

In [28]:
t = (1,2,3,4,5,6)

In [29]:
t[0]

1

In [30]:
del t[0]

TypeError: 'tuple' object doesn't support item deletion

In [35]:
t = [1,2,3,4,5,6]

In [36]:
t[0]

1

In [37]:
del t[0]

In [38]:
t[0]

2

In [39]:
t*3

[2, 3, 4, 5, 6, 2, 3, 4, 5, 6, 2, 3, 4, 5, 6]

In [40]:
tu = (1,2,3)

In [41]:
tu[0]

1

In [43]:
len(tu)

3

In [46]:
tu[4]= 9

TypeError: 'tuple' object does not support item assignment

https://www.javatpoint.com/python-tuples

## Python Set

A Python set is the collection of the unordered items. Each element in the set must be `unique`, `immutable`, and the sets remove the `duplicate elements`. Sets are mutable which means we can modify it after its creation.

Unlike other collections in Python, there is no index attached to the elements of the set, i.e., `we cannot directly access any element of the set by the index`. However, we can print them all together, or we can get the list of elements by looping through the set.

In [48]:
# element of the set must be immutable
x = {1,2,3,[1,2,3]}

TypeError: unhashable type: 'list'

In [49]:
x = {1,2,3,4,(1,2,3,4)}

In [50]:
x

{(1, 2, 3, 4), 1, 2, 3, 4}

In [51]:
x = (1,2,3,4,5,"Hi this is mansoor")

In [52]:
x

(1, 2, 3, 4, 5, 'Hi this is mansoor')

In [59]:
x = {1,2,3,4,{1:'nijat',2:'Mansoor',3:'Muslim'}}

TypeError: unhashable type: 'dict'

so we can have only immutable object.

In [64]:
x = {1,2,3,4,5,"Hi this is mansoor"}

In [65]:
x[2]

TypeError: 'set' object is not subscriptable

either we should asccess all the elment or loop through it.

In [68]:
for i in x:
    print(i)

1
2
3
4
5
Hi this is mansoor

It can contain any type of element such as integer, float, tuple etc. But mutable elements (list, dictionary, set) can't be a member of set. Consider the following example.

In [70]:
x = {}

In [71]:
type(x)

dict

In [72]:
x = set()

In [73]:
type(x)

set

Creating an empty set is a bit different because empty curly {} braces are also used to create a dictionary as well. So Python provides the set() method used without an argument to create an empty set.

## Adding items to the set
Python provides the add() method and update() method which can be used to add some particular item to the set. The add() method is used to add a single element whereas the update() method is used to add multiple elements to the set. Consider the following example.

To add more than one item in the set, Python provides the update() method. It accepts iterable as an argument.

In [74]:
Months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(Months)    
print("\nupdating the original set ... ")    
Months.update(["July","August","September","October"]);    
print("\nprinting the modified set ... ")     
print(Months);

printing the original set ...
{'March', 'April', 'May', 'February', 'January', 'June'}

updating the original set ...

printing the modified set ...
{'March', 'April', 'August', 'July', 'May', 'February', 'September', 'January', 'June', 'October'}

### Removing items from the set
Python provides the discard() method and remove() method which can be used to remove the items from the set. The difference between these function, using discard() function if the item does not exist in the set then the set remain unchanged whereas remove() method will through an error.

Consider the following example.

### Example-1 Using discard() method

In [75]:
months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(months)    
print("\nRemoving some months from the set...");    
months.discard("January");    
months.discard("May");    
print("\nPrinting the modified set...");    
print(months)    
print("\nlooping through the set elements ... ")    
for i in months:    
    print(i)

printing the original set ...
{'March', 'April', 'May', 'February', 'January', 'June'}

Removing some months from the set...

Printing the modified set...
{'March', 'April', 'February', 'June'}

looping through the set elements ...
March
April
February
June

In [76]:
x = {1,2,3,4}

In [77]:
type(x)

set

In [78]:
x.remove(1)

In [79]:
x.remove(1)

KeyError: 1

In [80]:
x.discard(2)

In [81]:
x.discard(2)

Python provides also the remove() method to remove the item from the set. Consider the following example to remove the items using remove() method.

We can also use the pop() method to remove the item. Generally, the pop() method will always remove the last item but the set is unordered, we can't determine which element will be popped from set.

Consider the following example to remove the item from the set using pop() method.

In [82]:
Months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(Months)    
print("\nRemoving some months from the set...");    
Months.pop();    
Months.pop();    
print("\nPrinting the modified set...");    
print(Months)

printing the original set ...
{'March', 'April', 'May', 'February', 'January', 'June'}

Removing some months from the set...

Printing the modified set...
{'May', 'February', 'January', 'June'}

In [83]:
x = [1,2,3,4]

In [84]:
x.clear()

In [85]:
x

[]

In [88]:
day1 = {'monday','thuesday','thursday'}
day2 = {'Friday','wednesday','Juma'}
day1.union(day2)

{'Friday', 'Juma', 'monday', 'thuesday', 'thursday', 'wednesday'}

## The intersection_update() method

The intersection_update() method removes the items from the original set that are not present in both the sets (all the sets if more than one are specified).

The intersection_update() method is different from the intersection() method since it modifies the original set by removing the unwanted items, on the other hand, the intersection() method returns a new set.

Consider the following example.

In [89]:
a = {"Devansh", "bob", "castle"}    
b = {"castle", "dude", "emyway"}    
c = {"fuson", "gaurav", "castle"}    
    
a.intersection_update(b, c)    
    
print(a)

{'castle'}

## FrozenSets

The frozen sets are the immutable form of the normal sets, i.e., the items of the frozen set cannot be changed and therefore it can be used as a key in the dictionary.

The elements of the frozen set cannot be changed after the creation. We cannot change or append the content of the frozen sets by using the methods like add() or remove().

The frozenset() method is used to create the frozenset object. The iterable sequence is passed into this method which is converted into the frozen set as a return type of the method.

Consider the following example to create the frozen set.

In [90]:
Frozon = frozenset({1,2,3,4,5,6})

In [91]:
Frozon

frozenset({1, 2, 3, 4, 5, 6})

In [93]:
Frozenset = frozenset([1,2,3,4,5])     
print(type(Frozenset))    
print("\nprinting the content of frozen set...")    
for i in Frozenset:    
    print(i);    
Frozenset.add(6) #gives an error since we cannot change the content of Frozenset after creation

<class 'frozenset'>

printing the content of frozen set...
1
2
3
4
5

AttributeError: 'frozenset' object has no attribute 'add'

https://www.javatpoint.com/python-set

## Python Dictionary

Python Dictionary is used to store the data in a key-value pair format. The dictionary is the data type in Python, which can simulate the real-life data arrangement where some specific value exists for some particular key. It is the mutable data-structure. The dictionary is defined into element Keys and values.

- Keys must be a single element
- Value can be any type such as list, tuple, integer, etc.

In other words, we can say that a dictionary is the collection of key-value pairs where the value can be any Python object. In contrast, the keys are the immutable Python object, i.e., Numbers, string, or tuple.

In [94]:
Employee = {"Name": "John", "Age": 29, "salary":25000,"Company":"GOOGLE"}

In [95]:
for x in Employee:
    print(x)

Name
Age
salary
Company

In [98]:
for x in Employee:
    print(Employee[x])

John
29
25000
GOOGLE

In [100]:
for x in Employee.values():
    print(x)

John
29
25000
GOOGLE

In [101]:
for x in Employee.keys():
    print(x)

Name
Age
salary
Company

In [102]:
for x in Employee.items():
    print(x)

('Name', 'John')
('Age', 29)
('salary', 25000)
('Company', 'GOOGLE')

In [103]:
str(Employee)

"{'Name': 'John', 'Age': 29, 'salary': 25000, 'Company': 'GOOGLE'}"

https://www.javatpoint.com/python-dictionary